<footer>
  <div class="row footer">
    <div class="col">
      <div class="text-start">
        <span><b>Phone:</b> 888-888-8888</span>
      </div>

      <div class="text-end ">
        <p>&copy; 2023 Approved Heating and Cooling LLP. All rights reserved.</p>
      </div>
    </div>
  </div>
  
</footer>
