<footer>
  <div class="row footer">
    <div class="col">

      <div class="text-center ">
        <p>&copy; 2023 Approved Heating and Cooling. All rights reserved.</p>
      </div>
    </div>
  </div>
  
</footer>
