---
layout: _layouts/base.njk
title: Services
---

<div id="services" class="services">
  <div class="container">
      <h2 class="text-center mb-4">Our Services</h2>
      <div class="row">
          <div class="col-lg-4">
              <h3>Heating Services</h3>
              <p>Installation, repair, and maintenance of heating systems.</p>
          </div>
          <div class="col-lg-4">
              <h3>Ventilation Services</h3>
              <p>Ensure proper ventilation for a healthy indoor environment.</p>
          </div>
          <div class="col-lg-4">
              <h3>Air Conditioning Services</h3>
              <p>Installation, repair, and maintenance of air conditioning units.</p>
          </div>
      </div>
  </div>
</div>
