---
layout: _layouts/base.njk
title: Contact Us
---

<div class="row"> 
    <div class="col">
        <h2>Thank You!
        <h4>Your Submission was Successful</h4>
        <h6>We will be contacting you shortley</h6>
        </div>
</div>